.c-posts {
  margin: 0 0 3.125rem;
  @include mq(mobile) {
    margin: 0 0 8.125rem;
  }
}

.c-posts__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-posts__header__title {
  @include h2;
}

.c-posts__header__link {
  @include h3;
  margin-right: 0.55rem;
}
.c-post {
  display: flex;
  flex-direction: column;
  
  @include mq(mobile) {
    flex-direction: row;
  }
}

.c-post__main {
  margin-bottom: 3.125rem;
  width: 100%;
  flex-direction: column;
}
.c-post__main__image {
  width: 100%;
  height: 15.625rem;
  object-fit: cover;
  @include mq(tablet, desktop) {
    width: 9.375rem;
  }
}

.c-post__main__image img {
  width: 21.875rem;
  height: 15.625rem;
  object-fit: cover;
  object-position: center;
  @include mq(1em, tablet) {
    width: 100%;
  }
}

.c-post__main__category-time {
  display: flex;
  padding-right: 1.563rem;
  align-items: center;
  @include h6;
  color: #7b7b7b;
}

.c-post__main__category {

  color: #7b7b7b;
}

.c-post__main__category:hover {
  text-decoration: underline;
  color: #000000;
}

.c-post__main__title {
  
  @include h2;
}

.c-post__main__title a:hover {
  color: #7b7b7b;
}

.c-post__main__description {

  @include body-font-medium;
}


.c-article__category {
  font-size: 5rem;
}